#######################
#       账户设置       #
#######################

# 帐号
APP_USER=

# 密码
APP_PASS=

# 令牌（自动生成）
ACCESS_TOKEN=
REFRESH_TOKEN=

#######################
#       功能设置       #
#######################

# 礼物赠送直播间
ROOM_ID=3746256

# 弹幕监控直播间
SOCKET_ROOM_ID=23058

# 小电视百分比
SMALLTV_RATE=0

# 小电视时间段
SMALLTV_HOURS=0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23

#######################
#       日志设置       #
#######################

# 调试模式
APP_DEBUG=true

# 多账号区别输出
APP_MULTIPLE=false

# 账号别名，如果为空则默认使用登陆账号作为标示
APP_USER_IDENTITY=

# 日志回调地址
#
#   {level}   日志等级
#   {message} 日志信息
#
CALLBACK_URL="http://www.example.com/api.send?text=[{level}]: {message}"

# 错误回调级别
#
#   DEBUG   100
#   INFO    200
#   NOTICE  250
#   WARNING 300
#   ERROR   400
#
CALLBACK_LEVEL=400
