#######################
#       账户设置       #
#######################

# 帐号
APP_USER=

# 密码
APP_PASS=

# 令牌（自动生成）
ACCESS_TOKEN=
REFRESH_TOKEN=
COOKIE_JAR=

#######################
#       功能设置       #
#######################

# 礼物赠送直播间
ROOM_ID=3746256

#######################
#       网络设置       #
#######################

# 网络代理
NETWORK_PROXY=

#######################
#       日志设置       #
#######################

# 调试模式
APP_DEBUG=true

# 多账号区别输出
APP_MULTIPLE=false

# 账号别名，如果为空则默认使用登陆账号作为标示
APP_USER_IDENTITY=

# 日志回调地址
#
#   {level}   日志等级
#   {message} 日志信息
#
CALLBACK_URL=""

# 错误回调级别
#
#   INFO    200
#   NOTICE  250
#   WARNING 300
#   ERROR   400
#
CALLBACK_LEVEL=400
